@font-face {
    font-family: roboto;
    src: url("/font/Roboto-Regular.ttf");
}
@font-face {
    font-family: roboto-bold;
    font-weight: bold;
    src: url("/font/Roboto-Bold.ttf");
}
@font-face {
    font-family: roboto-black;
    src: url("/font/Roboto-Black.ttf");
}
.mr-70 {
    margin-right: 70px;
}
.mr-76 {
    margin-right: 76px;
}
.mr-72 {
    margin-right: 72px;
}
.mr-55 {
    margin-right: 55px;
}
.text-nav {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 45px;
}
.text-title {
    font-family: roboto-bold;
    font-style: normal;
    font-size: 42px;
    line-height: 76px;
}

.roadmap-title,
.team-title {
    font-family: roboto-bold;
    font-style: normal;
    font-size: 48px;
    line-height: 45px;
}
.roadmap-timeline,
.text-download {
    font-family: roboto-bold;
    font-style: normal;
    font-size: 22px;
    line-height: 45px;
}
.text-content,
.roadmap-content,
.team-des {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}
.team-name {
    font-family: roboto-bold;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}

.radius-70 {
    border-radius: 70px;
}
body {
    font-family: roboto;
    overflow-x: hidden;
}
.w-546 {
    width: 546px;
}
.mw-944 {
    max-width: 944px;
}
.mw-345 {
    max-width: 345px;
}
.px05 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.wrapper {
    max-width: 1920px;
    margin: auto;
}
.mw-1112 {
    max-width: 1112px;
    margin: auto;
}
.pt-83 {
    padding-top: 83px;
}
.nav-items:hover .menu-more li:hover {
    color: rgba(0, 155, 242, 1);
    border-bottom: 2px rgba(0, 155, 242, 1) solid;
}

.nav-items.on,.menu-more li.on {
    color: rgba(0, 155, 242, 1);
    border-bottom: 2px rgba(0, 155, 242, 1) solid;
}
.join_gin_plus{
    width: 246px;
    height: 50px;
    background: #2b94d1;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
    cursor: pointer;
}
.join_gin_plus:hover{
    background: #145981;
}

.-t-110{
    top: -100px;
}
.mt-80{
    margin-top: 80px;
}
.menu_more_hover:hover .dropdown{
    display: block;
}
.bottom {
    background: rgba(226, 226, 226, 0.5) url("/img/bg_bot1.png") no-repeat;
    background-size: cover;
    height: 651px;
}
.bottom.home {
    background: url("/img/bg_bot1.png") no-repeat;
    background-size: cover;
    height: 651px;
}
.download {
    padding-top: 235px;
    padding-bottom: 66px;
}
.mw-883 {
    max-width: 883px;
    margin: auto;
}

.bg-top-mobi {
    background: url("/img/bg_mobi_1.png") no-repeat;
    background-size: cover;
}

.bg-white-blur {
    background: rgba(255, 255, 255, 0.5);
}
.member{
    background: linear-gradient(179.93deg, #FFFFFF 0.06%, #F1F1F1 177.26%);
}
.member:hover {
    background: linear-gradient(rgba(4, 209, 255, 1), rgba(4, 133, 238, 1));
}

/* .time-line {
    background: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(232, 232, 232, 1));
} */

.time-line {
    background: url("/img/bg_timeline1.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 975px;
    padding-top: 284px;
}
.team {
    padding-top: 137px;
}
.dot-time-line-mobi {
    top: -2rem;
    right: -37px;
}

.time-line-border {
    width: 50%;
    margin: auto;
    border-bottom: 3px rgba(4, 179, 248, 1) solid;
}
.hover-scale:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
.light {
    background-image: linear-gradient(
        to right,
        rgb(255 255 255 / 0%),
        rgb(255 255 255 / 45%),
        rgb(255 255 255 / 0%)
    );
    height: 100%;
    transform-origin: 50% 36%;
    transform: rotateZ(154deg) translate3d(100%, 0, 0);
}
.flash {
    transform: translateX(-100%);
    animation: flash 6s infinite;
}
.latest {
    padding-top: 80px;
    padding-bottom: 62px;
}
.post {
    width: 885px;
    /* height: 407px; */
    margin: auto;
}
.text-gradien {
    font-family: roboto-black;
    font-style: normal;
    font-weight: 900;
    font-size: 180px;
    line-height: 112,5px;
    background: -webkit-linear-gradient(0deg, #000000 17.35%, #0146df 96.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 204px;
}
.layout {
    padding-top: 283px;
}
.bg2 {
    max-width: 1920px;
    margin: auto;
    background: url("/img/bg2.png") no-repeat;
    background-size: cover;
}
.team-items {
    margin-bottom: 214px;
}
.whitepaper-content {
    min-height: 1622px;
    background: #ffffff;
    box-shadow: 7px 10px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.contact-content {
    padding: 84px 113px 113px 113px;
    background: #ffffff;
    box-shadow: 7px 10px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.contact-question {
    padding-top: 103px;
}
.contact-question .title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
    padding-bottom: 55px;
}
.contact-input {
    width: 95%;
    margin: auto;
    background: #f0f5ff;
    border-radius: 65px !important;
    padding: 6px 35px;
    margin-bottom: 34px;
    outline: none;
}
textarea.contact-input {
    border-radius: 32px !important;
    padding: 27px 39px;
}

.discussion select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #f0f5ff;
    background-image: none;
}
/* Remove IE arrow */
.discussion select::-ms-expand {
    display: none;
}
/* Custom Select */
.discussion .select {
    position: relative;
    display: flex;

    background: #f0f5ff;
    overflow: hidden;
    border-radius: 0.25em;
}
.discussion select {
    flex: 1;
    color: #000000;
    cursor: pointer;
}
.contact-send {
    padding: 6px 62px;
    color: #ffffff;
    background: linear-gradient(
        180deg,
        #fdfdfd 0%,
        #05cfff 0.01%,
        #0146df 100%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 65px;
    font-family: roboto-bold;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
}
.contact-send:hover {
    background: linear-gradient(180deg, #fdfdfd 0%, #05cfff 0.01%, #0146df 50%);
}
@keyframes flash {
    0% {
        transform: translateX(-100%);
    }
    20% {
        transform: translateX(600%);
    }
    100% {
        transform: translateX(600%);
    }
}
#particles-js {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 89px;
    z-index: 1;
} /* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.js-count-particles {
    font-size: 1.1em;
}
#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles {
    border-radius: 0 0 3px 3px;
}

@media only screen and (max-width: 1440px) {
    .contact-content {
        padding: 42px 56px 56px 56px;
    }
    .contact-question .title,
    .contact-send {
        font-size: 28px;
    }
    .contact-input {
        margin-bottom: 20px;
    }
    .contact-question {
        padding-top: 80px;
    }
    .mr-70 {
        margin-right: 35px;
    }
    .mr-76 {
        margin-right: 38px;
    }
    .mr-72 {
        margin-right: 36px;
    }
    .mr-55 {
        margin-right: 27px;
    }
    .text-nav {
        font-size: 16px;
        line-height: 45px;
    }
    .text-title {
        font-size: 28px;
        line-height: 48px;
    }
    .roadmap-title,
    .team-title {
        font-size: 28px;
        line-height: 45px;
    }
    .roadmap-timeline,
    .text-download {
        font-size: 18px;
        line-height: 34px;
    }
    .text-content,
    .roadmap-content,
    .team-des {
        font-size: 16px;
        line-height: 28px;
    }
    .team-name {
        font-size: 20px;
        line-height: 45px;
    }
    .mw-944 {
        max-width: 813px;
    }
    .w-546 {
        width: 430px;
    }
    .mw-345 {
        max-width: 320px;
    }
    .text-gradien {
        font-size: 90px;
        padding-bottom: 100px;
    }
    .layout {
        padding-top: 100px;
    }
    .team-items {
        margin-bottom: 100px;
    }
}
@media only screen and (max-width: 1150px) and (min-width: 768px) {
    .join_gin_plus {
        width: 172px;
        height: 46px
    }
    .-t-110{
        top: -65px;
    }
    .mt-80{
        margin-top: 45px;
    }
    .time-line {
        height: unset;
    }
    .mw-1112 {
        padding: 0 20px;
    }
    .mr-70 {
        margin-right: 17px;
    }
    .mr-76 {
        margin-right: 19px;
    }
    .mr-72 {
        margin-right: 18px;
    }
    .mr-55 {
        margin-right: 13px;
    }
    .text-nav {
        font-size: 12px;
        line-height: 45px;
    }
    .text-download {
        font-size: 14px;
        line-height: 26px;
    }
    .justify-between.mw-1112 {
        justify-content: space-around;
    }
    .mw-345 {
        max-width: 250px;
    }
    .w-546 {
        width: 407px;
    }
    .mw-944 {
        max-width: 480px;
    }
    .text-gradien {
        font-size: 60px;
        padding-bottom: 60px;
    }
    .layout {
        padding-top: 60px;
    }
    .team-items {
        margin-bottom: 60px;
    }
}
.play_video {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px) rotateZ(0deg);
}
.circle {
    animation: circle 5s linear infinite;
}
.not_circle {
    top: 51%;
    left: 50.5%;
}
.js-video-button:hover .play_video {
    filter: saturate(1.5);
}
@keyframes circle {
    0% {
        transform: translate3d(-50%, -50%, 0px) rotateZ(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0px) rotateZ(360deg);
    }
}
@media only screen and (max-width: 768px) {
    .join_gin_plus {
        width: 129px;
        height: 36px;
    }
    .-t-110{
        top: -41px;
    }
    .mt-80{
        margin-top: 33px;
    }
    
    .play_video {
        top: unset;
        left: unset;
        transform: unset;
    }
    .not_circle {
        top: 51%;
        left: 50.5%;
        transform: translate3d(-50%, -50%, 0) scale(1.1);
    }
    @keyframes circle {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ(360deg);
        }
    }
    .post {
        width: 90%;
        /* height: 200px; */
        margin: auto;
        margin-bottom: 84px;
    }
    .team{
        background: url('/img/bg_team.png') no-repeat;
        background-size: cover;
    }
    .contact-question .title,
    .contact-send {
        font-size: 20px;
    }
    .contact-question {
        padding-top: 40px;
    }
    .contact-question .title {
        padding-bottom: 22px;
    }
    .contact-content {
        padding: 21px 28px 28px 28px;
        border-radius: 10px;
    }
    .contact-input {
        width: 100%;
        padding: 2px 20px;
    }
    textarea.contact-input {
        border-radius: 10px !important;
        padding: 10px 20px;
    }
    .text-gradien {
        font-size: 50px;
        padding-bottom: 30px;
        
    }
    .layout {
        padding-top: 30px;
    }

    .time-line {
        background: #ffffff;
        padding-top: unset;
        height: unset;
    }

    .bottom {
        background: rgba(226, 226, 226, 0.5) url("/img/bg_bot_mobi1.png")
            no-repeat;
        background-size: cover;
        margin-top: -250px;
    }
    .phone-mobi {
        background: rgba(226, 226, 226, 0.5);
    }
    .phone-mobi.home {
        background: unset;
    }
    .bottom.home {
        background: url("/img/bg_bot_mobi1.png") no-repeat;
        background-size: cover;
    }
    .download {
        padding-top: 270px;
        padding-bottom: 38px;
    }
    .text-title {
        font-size: 16px;
    }
}
